---
import Header from "../sections/header.astro";
import Main from "../sections/main.astro";
import About from "../sections/about.astro";
import Services from "../sections/services.astro";
import Work from "../sections/work.astro";
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Прикамье</title>
  </head>
  <body>
    <Header />
    <Main />
    <About />
    <Services />
    <Work />
  </body>
</html>
<style is:global>
  @import url("../styles/main.scss");

  html {
    scroll-timeline-name: --stepNumber;
  }
</style>
