---
import Image from "astro/components/Image.astro";
import ArrowRight from "../icons/arrow-right.astro";

const services = [
  {
    title: "Автомобильные грузоперевозки",
    image: "1",
    link: "#",
  },
  {
    title: "Авиаперевозки",
    image: "2",
    link: "#",
  },
  {
    title: "Морские перевозки",
    image: "3",
    link: "#",
  },
  {
    title: "Перевозки негабаритных грузов",
    image: "4",
    link: "#",
  },
  {
    title: "Мультимодальные грузоперевозки",
    image: "5",
    link: "#",
  },
  {
    title: "Перевозка контейнеров",
    image: "6",
    link: "#",
  },
  {
    title: "Перевозка труб",
    image: "7",
    link: "#",
  },
  {
    title: "Железнодорожные грузоперевозки",
    image: "8",
    link: "#",
  },
  {
    title: "Собственный автосервис",
    image: "9",
    link: "#",
  },
];
---

<section id="services" class="services">
  <div class="wrapper">
    <h2>Наши услуги</h2>
    <div class="cards">
      {
        services.map(({ title, image, link }) => (
          <div class="card">
            <Image
              class="image"
              src={import(`../../public/images/services/${image}.jpg`)}
              alt={title}
            />
            <div class="footer">
              <p class="services-text">{title}</p>
              <a href="" class="btn btn-icon">
                <ArrowRight />
              </a>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style lang="scss">
  @use "../styles/abstracts/variables" as *;
  @use "../styles/abstracts/mixins" as *;

  .services {
    color: $color-white;
    padding: 80px 50px;
    background: $color-gradient;
    @include respond-to("tablet") {
      padding: 40px 20px;
    }
    .cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      flex-wrap: wrap;
      margin-top: 32px;
      gap: 20px;
      @include respond-to("tablet") {
        grid-template-columns: repeat(2, 1fr);
      }
      @include respond-to("mobile") {
        grid-template-columns: repeat(1, 1fr);
      }
      .card {
        position: relative;
        width: 100%;
        height: 220px;
        .footer {
          width: 100%;
          z-index: 1;
          position: absolute;
          bottom: 0;
          left: 0%;
          padding: 12px 20px;
          height: 72px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          background-color: $color-gray-lighter;

          p {
            color: $color-navy;
          }
        }
        .image {
          position: absolute;
          z-index: 0;
          top: 0%;
          left: 0%;
          width: 100%;
          height: 100%;
          object-fit: cover;
          filter: brightness(80%);
        }

        &:hover {
          .footer {
            background-color: $color-white;
            p {
              color: blue;
            }
          }
        }
      }
    }
  }
</style>
